on fs
    install_keyring
    mkdir /mnt/vendor/persist 0777 system system
    setprop crypto.ready 1
    write /sys/devices/platform/odm/odm:oppo_charger/power_supply/usb/otg_switch 1

service keystore_auth /system/bin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc
    disabled
    seclabel u:r:recovery:s0

service mobicore /system/bin/mcDriverDaemon --P1 /mnt/vendor/persist/mcRegistry \
    -r /vendor/app/mcRegistry/06090000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/020f0000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/05120000000000000000000000000000.drbin
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

#Add for OPPO FBE
service hal_cryptoeng_oppo /system/bin/vendor.oppo.hardware.cryptoeng@1.0-service
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-0 /system/bin/android.hardware.keymaster@4.0-service.trustonic
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /system/bin/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service vendor.vibrator-1-0 /system/bin/android.hardware.vibrator@1.0-service
    class hal
    user root
    group root input
    seclabel u:r:recovery:s0

on boot
    start vendor.vibrator-1-0

on property:hwservicemanager.ready=true
    start hal_cryptoeng_oppo
    start mobicore
    start keymaster-4-0
    start gatekeeper-1-0

on property:ro.crypto.state=unsupported
    stop hal_cryptoeng_oppo
    stop mobicore
    stop servicemanager
    stop hwservicemanager
    stop keymaster-4-0
    stop gatekeeper-1-0

on property:ro.crypto.state=unencrypted
    stop hal_cryptoeng_oppo
    stop mobicore
    stop servicemanager
    stop hwservicemanager
    stop keymaster-4-0
    stop gatekeeper-1-0

on property:twrp.decrypt.done=true
    stop hal_cryptoeng_oppo
    stop mobicore
    stop servicemanager
    stop hwservicemanager
    stop keymaster-4-0
    stop gatekeeper-1-0

on property:sys.usb.config=fastboot
    start servicemanager
    start hwservicemanager
    restart fastbootd
